/* https://css-tricks.com/dont-overthink-flexbox-grids/ */
* {
  box-sizing: border-box;
}
body {
  padding: 20px;
}
.flex-grid { 
  margin: 0 0 20px 0;
}
.fcol {
  background: salmon;
  padding: 20px
} 
/* small screens */

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}
/* gutters */
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .fcol {
  width: 32%;
}
